In [2]:
import pandas as pd

In [9]:
data1 = pd.read_csv("/Users/janghyun/Desktop/BDP/data/합칠 데이터/대여이력 정보2.csv")
data2 = pd.read_csv("/Users/janghyun/Desktop/BDP/data/합칠 데이터/대여이력 정보3.csv")

/var/folders/qy/_42009_n085fc984bjdc5v580000gn/T/ipykernel_63968/3586404062.py:1: DtypeWarning: Columns (3,5,7,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  data1 = pd.read_csv("/Users/janghyun/Desktop/BDP/data/합칠 데이터/대여이력 정보2.csv")
/var/folders/qy/_42009_n085fc984bjdc5v580000gn/T/ipykernel_63968/3586404062.py:2: DtypeWarning: Columns (0,1,2,3,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv("/Users/janghyun/Desktop/BDP/data/합칠 데이터/대여이력 정보3.csv")

In [10]:
data1.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [53]:
print(len(data1))
print(len(data2))

18246452
19027748

In [11]:
data2.columns=['자전거번호', '대여일시', '대여소번호', '대여대여소명', '대여거치대', '반납일시', '반납대여소번호','반납대여소명', '반납거치대', '이용시간', '이용거리']
data2.columns

Index(['자전거번호', '대여일시', '대여소번호', '대여대여소명', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소명', '반납거치대', '이용시간', '이용거리'],
      dtype='object')

In [19]:
df = pd.concat([data1, data2], ignore_index=True)
len(df)
df

,자전거번호,대여일시,대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-13621,2018.10.1 0:02,127,현대벤처빌 앞,9,2018.10.1 0:04,124,서강대 정문 건너편,18,1,350
1,SPB-10560,2018.10.1 0:01,1326,상월곡역 1번출구,5,2018.10.1 0:04,1328,월곡역 3번출구,4,3,630
2,SPB-16256,2018.10.1 0:00,815,LIG강촌아파트 103동앞,10,2018.10.1 0:04,832,이촌1동 주민센터 뒤,11,3,44210
3,SPB-07969,2018.10.1 0:01,1308,안암로터리 버스정류장 앞,12,2018.10.1 0:04,614,용두동 사거리,1,3,560
4,SPB-10866,2018.10.1 0:02,575,중앙농협 중곡지점,9,2018.10.1 0:04,3510,중곡SK아파트앞,10,2,300
...,...,...,...,...,...,...,...,...,...,...,...
37274195,SPB-04505,2019-04-23 16:07,2175,신림동걷고싶은문화의거리입구,3.0,2019-04-23 16:14,2109,은천로입구 가로공원,7.0,7.0,970.0
37274196,SPB-16632,2019-04-23 15:48,1206,9호선종합운동장역 9번출구,18.0,2019-04-23 16:14,2332,선릉역3번출구,7.0,25.0,3180.0
37274197,SPB-18756,2019-04-23 16:07,1023,한국종합기술사옥 앞,5.0,2019-04-23 16:14,1016,해뜨는 주유소옆 리엔파크 109동앞,7.0,7.0,1330.0
37274198,SPB-16043,2019-04-23 15:38,2334,8삼호@ 2동 ( 간선도로),3.0,2019-04-23 16:14,2242,양재역 11번 출구 앞,1.0,36.0,2300.0
37274199,SPB-11765,2019-04-23 16:04,175,홍연2교옆,13.0,2019-04-23 16:14,165,중앙근린공원,3.0,9.0,2160.0

In [21]:
df["대여일시"].astype(str)

0             2018.10.1 0:02
1             2018.10.1 0:01
2             2018.10.1 0:00
3             2018.10.1 0:01
4             2018.10.1 0:02
                  ...
37274195    2019-04-23 16:07
37274196    2019-04-23 15:48
37274197    2019-04-23 16:07
37274198    2019-04-23 15:38
37274199    2019-04-23 16:04
Name: 대여일시, Length: 37274200, dtype: object

In [23]:
df["date"]=pd.to_datetime(df['대여일시'].str.strip(), format="%Y-%m-%d %H:%M", errors='coerce')

In [24]:
df

,자전거번호,대여일시,대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리,date
0,SPB-13621,2018.10.1 0:02,127,현대벤처빌 앞,9,2018.10.1 0:04,124,서강대 정문 건너편,18,1,350,2018-10-01 00:02:00
1,SPB-10560,2018.10.1 0:01,1326,상월곡역 1번출구,5,2018.10.1 0:04,1328,월곡역 3번출구,4,3,630,2018-10-01 00:01:00
2,SPB-16256,2018.10.1 0:00,815,LIG강촌아파트 103동앞,10,2018.10.1 0:04,832,이촌1동 주민센터 뒤,11,3,44210,2018-10-01 00:00:00
3,SPB-07969,2018.10.1 0:01,1308,안암로터리 버스정류장 앞,12,2018.10.1 0:04,614,용두동 사거리,1,3,560,2018-10-01 00:01:00
4,SPB-10866,2018.10.1 0:02,575,중앙농협 중곡지점,9,2018.10.1 0:04,3510,중곡SK아파트앞,10,2,300,2018-10-01 00:02:00
...,...,...,...,...,...,...,...,...,...,...,...,...
37274195,SPB-04505,2019-04-23 16:07,2175,신림동걷고싶은문화의거리입구,3.0,2019-04-23 16:14,2109,은천로입구 가로공원,7.0,7.0,970.0,2019-04-23 16:07:00
37274196,SPB-16632,2019-04-23 15:48,1206,9호선종합운동장역 9번출구,18.0,2019-04-23 16:14,2332,선릉역3번출구,7.0,25.0,3180.0,2019-04-23 15:48:00
37274197,SPB-18756,2019-04-23 16:07,1023,한국종합기술사옥 앞,5.0,2019-04-23 16:14,1016,해뜨는 주유소옆 리엔파크 109동앞,7.0,7.0,1330.0,2019-04-23 16:07:00
37274198,SPB-16043,2019-04-23 15:38,2334,8삼호@ 2동 ( 간선도로),3.0,2019-04-23 16:14,2242,양재역 11번 출구 앞,1.0,36.0,2300.0,2019-04-23 15:38:00
37274199,SPB-11765,2019-04-23 16:04,175,홍연2교옆,13.0,2019-04-23 16:14,165,중앙근린공원,3.0,9.0,2160.0,2019-04-23 16:04:00

In [25]:
df["대여년도"] = df["date"].dt.year
df

,자전거번호,대여일시,대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리,date,대여년도
0,SPB-13621,2018.10.1 0:02,127,현대벤처빌 앞,9,2018.10.1 0:04,124,서강대 정문 건너편,18,1,350,2018-10-01 00:02:00,2018.0
1,SPB-10560,2018.10.1 0:01,1326,상월곡역 1번출구,5,2018.10.1 0:04,1328,월곡역 3번출구,4,3,630,2018-10-01 00:01:00,2018.0
2,SPB-16256,2018.10.1 0:00,815,LIG강촌아파트 103동앞,10,2018.10.1 0:04,832,이촌1동 주민센터 뒤,11,3,44210,2018-10-01 00:00:00,2018.0
3,SPB-07969,2018.10.1 0:01,1308,안암로터리 버스정류장 앞,12,2018.10.1 0:04,614,용두동 사거리,1,3,560,2018-10-01 00:01:00,2018.0
4,SPB-10866,2018.10.1 0:02,575,중앙농협 중곡지점,9,2018.10.1 0:04,3510,중곡SK아파트앞,10,2,300,2018-10-01 00:02:00,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37274195,SPB-04505,2019-04-23 16:07,2175,신림동걷고싶은문화의거리입구,3.0,2019-04-23 16:14,2109,은천로입구 가로공원,7.0,7.0,970.0,2019-04-23 16:07:00,2019.0
37274196,SPB-16632,2019-04-23 15:48,1206,9호선종합운동장역 9번출구,18.0,2019-04-23 16:14,2332,선릉역3번출구,7.0,25.0,3180.0,2019-04-23 15:48:00,2019.0
37274197,SPB-18756,2019-04-23 16:07,1023,한국종합기술사옥 앞,5.0,2019-04-23 16:14,1016,해뜨는 주유소옆 리엔파크 109동앞,7.0,7.0,1330.0,2019-04-23 16:07:00,2019.0
37274198,SPB-16043,2019-04-23 15:38,2334,8삼호@ 2동 ( 간선도로),3.0,2019-04-23 16:14,2242,양재역 11번 출구 앞,1.0,36.0,2300.0,2019-04-23 15:38:00,2019.0
37274199,SPB-11765,2019-04-23 16:04,175,홍연2교옆,13.0,2019-04-23 16:14,165,중앙근린공원,3.0,9.0,2160.0,2019-04-23 16:04:00,2019.0

In [28]:
df.sort_values("대여년도")
df

,자전거번호,대여일시,대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리,date,대여년도
0,SPB-13621,2018.10.1 0:02,127,현대벤처빌 앞,9,2018.10.1 0:04,124,서강대 정문 건너편,18,1,350,2018-10-01 00:02:00,2018.0
1,SPB-10560,2018.10.1 0:01,1326,상월곡역 1번출구,5,2018.10.1 0:04,1328,월곡역 3번출구,4,3,630,2018-10-01 00:01:00,2018.0
2,SPB-16256,2018.10.1 0:00,815,LIG강촌아파트 103동앞,10,2018.10.1 0:04,832,이촌1동 주민센터 뒤,11,3,44210,2018-10-01 00:00:00,2018.0
3,SPB-07969,2018.10.1 0:01,1308,안암로터리 버스정류장 앞,12,2018.10.1 0:04,614,용두동 사거리,1,3,560,2018-10-01 00:01:00,2018.0
4,SPB-10866,2018.10.1 0:02,575,중앙농협 중곡지점,9,2018.10.1 0:04,3510,중곡SK아파트앞,10,2,300,2018-10-01 00:02:00,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37274195,SPB-04505,2019-04-23 16:07,2175,신림동걷고싶은문화의거리입구,3.0,2019-04-23 16:14,2109,은천로입구 가로공원,7.0,7.0,970.0,2019-04-23 16:07:00,2019.0
37274196,SPB-16632,2019-04-23 15:48,1206,9호선종합운동장역 9번출구,18.0,2019-04-23 16:14,2332,선릉역3번출구,7.0,25.0,3180.0,2019-04-23 15:48:00,2019.0
37274197,SPB-18756,2019-04-23 16:07,1023,한국종합기술사옥 앞,5.0,2019-04-23 16:14,1016,해뜨는 주유소옆 리엔파크 109동앞,7.0,7.0,1330.0,2019-04-23 16:07:00,2019.0
37274198,SPB-16043,2019-04-23 15:38,2334,8삼호@ 2동 ( 간선도로),3.0,2019-04-23 16:14,2242,양재역 11번 출구 앞,1.0,36.0,2300.0,2019-04-23 15:38:00,2019.0
37274199,SPB-11765,2019-04-23 16:04,175,홍연2교옆,13.0,2019-04-23 16:14,165,중앙근린공원,3.0,9.0,2160.0,2019-04-23 16:04:00,2019.0

In [68]:
#data에 있는 대여년도 파악
df.groupby('대여년도').count()

,자전거번호,대여일시,대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리,date
대여년도,,,,,,,,,,,,
2015.0,107858,107858,107858,107858,107858,107858,107858,107858,107858,107858,107858,107858
2016.0,1580480,1580480,1580480,1580480,1580480,1580480,1580480,1580480,1580480,1580480,1580480,1580480
2017.0,354731,354731,354731,354731,354731,354731,354731,354731,354731,354731,354731,354731
2018.0,6420867,6420867,6420867,6420867,6420867,6420867,6420867,6420867,6420867,6420867,6420867,6420867
2019.0,15100726,15100726,15100726,15100726,15100726,15100726,15100726,15100726,15100726,15100726,15100726,15100726
2020.0,3145725,3145725,3145725,3145725,3145725,3145725,3145725,3145725,3145725,3145725,3145725,3145725

In [69]:
df

,자전거번호,대여일시,대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리,date,대여년도
0,SPB-13621,2018.10.1 0:02,127,현대벤처빌 앞,9,2018.10.1 0:04,124,서강대 정문 건너편,18,1,350,2018-10-01 00:02:00,2018.0
1,SPB-10560,2018.10.1 0:01,1326,상월곡역 1번출구,5,2018.10.1 0:04,1328,월곡역 3번출구,4,3,630,2018-10-01 00:01:00,2018.0
2,SPB-16256,2018.10.1 0:00,815,LIG강촌아파트 103동앞,10,2018.10.1 0:04,832,이촌1동 주민센터 뒤,11,3,44210,2018-10-01 00:00:00,2018.0
3,SPB-07969,2018.10.1 0:01,1308,안암로터리 버스정류장 앞,12,2018.10.1 0:04,614,용두동 사거리,1,3,560,2018-10-01 00:01:00,2018.0
4,SPB-10866,2018.10.1 0:02,575,중앙농협 중곡지점,9,2018.10.1 0:04,3510,중곡SK아파트앞,10,2,300,2018-10-01 00:02:00,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37274195,SPB-04505,2019-04-23 16:07,2175,신림동걷고싶은문화의거리입구,3.0,2019-04-23 16:14,2109,은천로입구 가로공원,7.0,7.0,970.0,2019-04-23 16:07:00,2019.0
37274196,SPB-16632,2019-04-23 15:48,1206,9호선종합운동장역 9번출구,18.0,2019-04-23 16:14,2332,선릉역3번출구,7.0,25.0,3180.0,2019-04-23 15:48:00,2019.0
37274197,SPB-18756,2019-04-23 16:07,1023,한국종합기술사옥 앞,5.0,2019-04-23 16:14,1016,해뜨는 주유소옆 리엔파크 109동앞,7.0,7.0,1330.0,2019-04-23 16:07:00,2019.0
37274198,SPB-16043,2019-04-23 15:38,2334,8삼호@ 2동 ( 간선도로),3.0,2019-04-23 16:14,2242,양재역 11번 출구 앞,1.0,36.0,2300.0,2019-04-23 15:38:00,2019.0
37274199,SPB-11765,2019-04-23 16:04,175,홍연2교옆,13.0,2019-04-23 16:14,165,중앙근린공원,3.0,9.0,2160.0,2019-04-23 16:04:00,2019.0

In [65]:
data = df.groupby("대여년도").get_group(   nan)
data

NameError: name 'nan' is not defined

In [59]:
len(data2020)

3145725

In [60]:
data2020.sort_values("대여일시")

,자전거번호,대여일시,대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리,date,대여년도
15101357,SPB-34231,2020.5.1 0:00,1048,동부기업(둔촌동),0,2020.5.1 0:35,1050,둔촌역 3번 출입구,0,34,0,2020-05-01 00:00:00,2020.0
15101358,SPB-06227,2020.5.1 0:00,361,동묘앞역 1번출구 뒤,3,2020.5.1 0:35,1306,한성대입구역2번출구,10,33,4790,2020-05-01 00:00:00,2020.0
15100759,SPB-31554,2020.5.1 0:00,117,홍은사거리,0,2020.5.1 0:08,175,홍연2교옆,0,8,0,2020-05-01 00:00:00,2020.0
15101685,SPB-13530,2020.5.1 0:00,1835,STX V타워,2,2020.5.1 0:45,1819,금천구청 앞 자전거거치대,5,44,0,2020-05-01 00:00:00,2020.0
15100761,SPB-23816,2020.5.1 0:00,1653,노원역1번출구,7,2020.5.1 0:09,1674,서울북부고용센터앞,1,8,780,2020-05-01 00:00:00,2020.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17780020,SPB-33908,2020.6.9 9:59,812,용산전쟁기념관,0,2020.6.9 10:03,813,삼각지역 3번출구,0,4,0.0,2020-06-09 09:59:00,2020.0
17780291,SPB-02301,2020.6.9 9:59,2057,상도 아이파크 아파트,8,2020.6.9 10:12,2058,노량진동 맥도널드앞,5,12,1870.0,2020-06-09 09:59:00,2020.0
17780192,SPB-32583,2020.6.9 9:59,276,SK 영등포주유소,0,2020.6.9 10:08,202,국민일보 앞,0,10,0.0,2020-06-09 09:59:00,2020.0
17780077,SPB-17172,2020.6.9 9:59,945,기자촌 사거리,2,2020.6.9 10:04,905,구파발역 2번출구,8,5,1330.0,2020-06-09 09:59:00,2020.0
16959106,SPB-30703,2020.6.9 9:59,2318,삼성중앙역4번출구(문화센터더 리빌),0,2020.6.9 10:07,2319,포스코사거리 서측(수협 삼성동 지점),0,8,0.0,2020-06-09 09:59:00,2020.0

In [61]:
#불필요한 column 제거
data2020.drop(["date", "대여년도"], axis = 1, inplace = True)
data2020.head()

#data2015 파일로 저장
data2020.to_csv("data2020.csv", encoding="utf-8-sig")

/var/folders/qy/_42009_n085fc984bjdc5v580000gn/T/ipykernel_63968/1673108489.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2020.drop(["date", "대여년도"], axis = 1, inplace = True)

In [ ]:
data1 = pd.read_csv("/Users/janghyun/Desktop/BDP/data/합칠 데이터/대여이력 정보2.csv")