In [2]:
import pandas as pd

In [3]:
data2 = pd.read_csv("/Users/janghyun/Desktop/BDP/data/대여이력 정보/data/대여이력 정보2.csv")
data3 = pd.read_csv("/Users/janghyun/Desktop/BDP/data/대여이력 정보/data/대여이력 정보3.csv")

/var/folders/qy/_42009_n085fc984bjdc5v580000gn/T/ipykernel_62273/943499793.py:1: DtypeWarning: Columns (3,5,7,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv("/Users/janghyun/Desktop/BDP/data/대여이력 정보/data/대여이력 정보2.csv")
/var/folders/qy/_42009_n085fc984bjdc5v580000gn/T/ipykernel_62273/943499793.py:2: DtypeWarning: Columns (0,1,2,3,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  data3 = pd.read_csv("/Users/janghyun/Desktop/BDP/data/대여이력 정보/data/대여이력 정보3.csv")

In [4]:
data2.columns

Index(['Unnamed: 0', '자전거번호', '대여일시', '대여소번호', '대여대여소명', '대여거치대', '반납일시',
       '반납대여소번호', '반납대여소명', '반납거치대', '이용시간', '이용거리'],
      dtype='object')

In [4]:
#data2의 불필요한 column Unamed: 0 제거
data2.drop(['Unnamed: 0'], axis = 1, inplace = True)
data2.columns

Index(['자전거번호', '대여일시', '대여소번호', '대여대여소명', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소명', '반납거치대', '이용시간', '이용거리'],
      dtype='object')

In [6]:
data3.columns

Index(['자전거번호', '대여일시', '대여소번호', '대여소명', '거치대번호', '반납일시', '반납대여소번호', '반납대여소명',
       '반납 거치대번호', '이용시간(분)', '이용거리(M)'],
      dtype='object')

In [5]:
#data2와 data3 column명 통일
data3.columns=['자전거번호', '대여일시', '대여소번호', '대여대여소명', '대여거치대', '반납일시', '반납대여소번호','반납대여소명', '반납거치대', '이용시간', '이용거리']
data3.columns

Index(['자전거번호', '대여일시', '대여소번호', '대여대여소명', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소명', '반납거치대', '이용시간', '이용거리'],
      dtype='object')

In [6]:
data = pd.concat([data2, data3], ignore_index=True)
print("전체 데이터 개수: ", len(data))

print("데이터 구조: ")
data

전체 데이터 개수:  37274200
데이터 구조:

,자전거번호,대여일시,대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-13621,2018.10.1 0:02,127,현대벤처빌 앞,9,2018.10.1 0:04,124,서강대 정문 건너편,18,1,350
1,SPB-10560,2018.10.1 0:01,1326,상월곡역 1번출구,5,2018.10.1 0:04,1328,월곡역 3번출구,4,3,630
2,SPB-16256,2018.10.1 0:00,815,LIG강촌아파트 103동앞,10,2018.10.1 0:04,832,이촌1동 주민센터 뒤,11,3,44210
3,SPB-07969,2018.10.1 0:01,1308,안암로터리 버스정류장 앞,12,2018.10.1 0:04,614,용두동 사거리,1,3,560
4,SPB-10866,2018.10.1 0:02,575,중앙농협 중곡지점,9,2018.10.1 0:04,3510,중곡SK아파트앞,10,2,300
...,...,...,...,...,...,...,...,...,...,...,...
37274195,SPB-04505,2019-04-23 16:07,2175,신림동걷고싶은문화의거리입구,3.0,2019-04-23 16:14,2109,은천로입구 가로공원,7.0,7.0,970.0
37274196,SPB-16632,2019-04-23 15:48,1206,9호선종합운동장역 9번출구,18.0,2019-04-23 16:14,2332,선릉역3번출구,7.0,25.0,3180.0
37274197,SPB-18756,2019-04-23 16:07,1023,한국종합기술사옥 앞,5.0,2019-04-23 16:14,1016,해뜨는 주유소옆 리엔파크 109동앞,7.0,7.0,1330.0
37274198,SPB-16043,2019-04-23 15:38,2334,8삼호@ 2동 ( 간선도로),3.0,2019-04-23 16:14,2242,양재역 11번 출구 앞,1.0,36.0,2300.0
37274199,SPB-11765,2019-04-23 16:04,175,홍연2교옆,13.0,2019-04-23 16:14,165,중앙근린공원,3.0,9.0,2160.0

In [7]:
#날짜 관련 데이터 DateTime형태로 변환
# data['대여일시'] = str(data['대여일시'])
data["date"]=pd.to_datetime(data['대여일시'].str.strip(), format="%Y-%m-%d %H:%M", errors='coerce')
# data['Time'] = pd.to_datetime(df['Time']

# data["대여년도"]= pd.to_datetime(data["대여일시"].str.strip(), dayfirst=True)
# data["대여일시"] = pd.to_datetime(data["대여일시"].str.strip())
# data["반납일시"] = pd.to_datetime(data["반납일시"].str.strip())

# pd.to_datetime(data["대여일시"])
# pd.to_datatime(data["반납일시"])

In [8]:
data["대여년도"] = data["date"].dt.year
data.head()

,자전거번호,대여일시,대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리,date,대여년도
0,SPB-13621,2018.10.1 0:02,127,현대벤처빌 앞,9,2018.10.1 0:04,124,서강대 정문 건너편,18,1,350,2018-10-01 00:02:00,2018.0
1,SPB-10560,2018.10.1 0:01,1326,상월곡역 1번출구,5,2018.10.1 0:04,1328,월곡역 3번출구,4,3,630,2018-10-01 00:01:00,2018.0
2,SPB-16256,2018.10.1 0:00,815,LIG강촌아파트 103동앞,10,2018.10.1 0:04,832,이촌1동 주민센터 뒤,11,3,44210,2018-10-01 00:00:00,2018.0
3,SPB-07969,2018.10.1 0:01,1308,안암로터리 버스정류장 앞,12,2018.10.1 0:04,614,용두동 사거리,1,3,560,2018-10-01 00:01:00,2018.0
4,SPB-10866,2018.10.1 0:02,575,중앙농협 중곡지점,9,2018.10.1 0:04,3510,중곡SK아파트앞,10,2,300,2018-10-01 00:02:00,2018.0

In [15]:
#data에 있는 대여년도 파악
data["대여년도"].unique()

array([2018.,   nan, 2019., 2020., 2015., 2016., 2017.])

In [16]:
data2015 = data.groupby("대여년도").get_group(2015.0)

In [18]:
#불필요한 column 제거
data2015.drop(["date", "대여년도"], axis = 1, inplace = True)
data2015.head()

/var/folders/qy/_42009_n085fc984bjdc5v580000gn/T/ipykernel_62273/989353733.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2015.drop(["date", "대여년도"], axis = 1, inplace = True)

,자전거번호,대여일시,대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
18246452,SPB-00186,2015-09-19 0:59,115,사루비아 빌딩 앞,5.0,2015-09-19 2:39,115,사루비아 빌딩 앞,5.0,98.0,15240.0
18246453,SPB-00403,2015-09-19 1:22,112,극동방송국 앞,3.0,2015-09-19 6:09,102,망원역 1번출구 앞,16.0,286.0,10910.0
18246454,SPB-00485,2015-09-19 1:32,112,극동방송국 앞,1.0,2015-09-19 6:09,102,망원역 1번출구 앞,15.0,276.0,11000.0
18246455,SPB-00292,2015-09-19 7:52,221,여의도초교 앞,2.0,2015-09-19 8:56,221,여의도초교 앞,1.0,63.0,16500.0
18246456,SPB-00270,2015-09-19 8:56,221,여의도초교 앞,3.0,2015-09-19 9:05,210,IFC몰,2.0,8.0,1870.0

In [19]:
#data2015 파일로 저장
data2015.to_csv("data2015.csv", encoding="utf-8-sig")

In [20]:
data2016 = data.groupby("대여년도").get_group(2016.0)

In [21]:
#불필요한 column 제거
data2016.drop(["date", "대여년도"], axis = 1, inplace = True)
data2016.head()

/var/folders/qy/_42009_n085fc984bjdc5v580000gn/T/ipykernel_62273/2584372491.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2016.drop(["date", "대여년도"], axis = 1, inplace = True)

,자전거번호,대여일시,대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
18354310,SPB-01338,2016-01-01 0:12,112,극동방송국 앞,4.0,2016-01-01 0:38,137,NH농협 신촌지점 앞,5.0,24.0,4140.0
18354311,SPB-00381,2016-01-01 0:22,113,홍대입구역 2번출구 앞,6.0,2016-01-01 0:47,137,NH농협 신촌지점 앞,9.0,24.0,2850.0
18354312,SPB-01069,2016-01-01 0:23,211,여의도역 4번출구 옆,11.0,2016-01-01 0:30,216,삼부아파트1동 앞,10.0,7.0,1020.0
18354313,SPB-00559,2016-01-01 0:24,113,홍대입구역 2번출구 앞,5.0,2016-01-01 0:47,137,NH농협 신촌지점 앞,5.0,22.0,2850.0
18354314,SPB-00492,2016-01-01 0:35,335,종로3가역 15번출구 앞,2.0,2016-01-01 0:55,343,예일빌딩(율곡로) 앞,1.0,19.0,2190.0

In [22]:
#data2016 파일로 저장
data2016.to_csv("data2016.csv", encoding="utf-8-sig")

In [23]:
data2017 = data.groupby("대여년도").get_group(2017.0)

In [24]:
#불필요한 column 제거
data2017.drop(["date", "대여년도"], axis = 1, inplace = True)
data2017.head()

/var/folders/qy/_42009_n085fc984bjdc5v580000gn/T/ipykernel_62273/531330376.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2017.drop(["date", "대여년도"], axis = 1, inplace = True)

,자전거번호,대여일시,대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
19934790,SPB-00230,2017-01-01 0:00,419,홈플러스 앞,5.0,2017-01-01 0:21,914,새절역 2번출구,18.0,20.0,3340.0
19934791,SPB-02803,2017-01-01 0:01,825,서빙고동 주민센터 앞,2.0,2017-01-01 0:15,822,이촌1동 마을공원,7.0,14.0,3380.0
19934792,SPB-03956,2017-01-01 0:05,906,연신내역 5번출구150M 아래,1.0,2017-01-01 0:16,931,역촌파출소,6.0,11.0,1610.0
19934793,SPB-02864,2017-01-01 0:05,906,연신내역 5번출구150M 아래,9.0,2017-01-01 0:29,912,응암오거리,1.0,24.0,3620.0
19934794,SPB-01388,2017-01-01 0:05,330,청계천 한빛광장,6.0,2017-01-01 0:23,171,임광빌딩 앞,9.0,17.0,2280.0

In [25]:
#data2017 파일로 저장
data2017.to_csv("data2017.csv", encoding="utf-8-sig")

In [ ]:
data2018 = data.groupby("대여년도").get_group(2018.0)

In [10]:
#불필요한 column 제거
data2018.drop(["date", "대여년도"], axis = 1, inplace = True)
data2018.head()

/var/folders/qy/_42009_n085fc984bjdc5v580000gn/T/ipykernel_62273/1579314922.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2018.drop(["date", "대여년도"], axis = 1, inplace = True)

,자전거번호,대여일시,대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-13621,2018.10.1 0:02,127,현대벤처빌 앞,9,2018.10.1 0:04,124,서강대 정문 건너편,18,1,350
1,SPB-10560,2018.10.1 0:01,1326,상월곡역 1번출구,5,2018.10.1 0:04,1328,월곡역 3번출구,4,3,630
2,SPB-16256,2018.10.1 0:00,815,LIG강촌아파트 103동앞,10,2018.10.1 0:04,832,이촌1동 주민센터 뒤,11,3,44210
3,SPB-07969,2018.10.1 0:01,1308,안암로터리 버스정류장 앞,12,2018.10.1 0:04,614,용두동 사거리,1,3,560
4,SPB-10866,2018.10.1 0:02,575,중앙농협 중곡지점,9,2018.10.1 0:04,3510,중곡SK아파트앞,10,2,300

In [48]:
#data2018 파일로 저장
data2018.to_csv("대여이력 정보 2018.csv", encoding="utf-8-sig")

In [11]:
#2019년도 데이터 그룹바이
data2019 = data.groupby("대여년도").get_group(2019.0)

In [12]:
#불필요한 column 제거
data2019.drop(["date", "대여년도"], axis = 1, inplace = True)
data2019.head()

/var/folders/qy/_42009_n085fc984bjdc5v580000gn/T/ipykernel_62273/2528185973.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2019.drop(["date", "대여년도"], axis = 1, inplace = True)

,자전거번호,대여일시,대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
1048576,SPB-12844,2019.5.1 0:00,1224,아시아지하보도 2번 출구,13,2019.5.1 0:04,1249,아주중학교건너편,10,4,960
1048577,SPB-15490,2019.5.1 0:01,521,왕십리역 11번 출구 앞,2,2019.5.1 0:04,520,상왕십리역 4번 출구 앞,7,2,0
1048578,SPB-18475,2019.5.1 0:01,364,창신역 1번출구 앞,4,2019.5.1 0:04,361,동묘앞역 1번출구 뒤,1,3,730
1048579,SPB-11204,2019.5.1 0:01,1983,구로동롯데아파트,6,2019.5.1 0:04,1920,서울미래초등학교 사거리,4,3,170
1048580,SPB-15403,2019.5.1 0:02,2235,KT 서초지사 앞,15,2019.5.1 0:05,2280,서울서초고용센터앞,1,2,740

In [52]:
#data2019 파일로 저장
data2019.to_csv("대여이력 정보 2019.csv", encoding="utf-8-sig")

In [26]:
data2020 = data.groupby("대여년도").get_group(2020.0)

In [27]:
#불필요한 column 제거
data2020.drop(["date", "대여년도"], axis = 1, inplace = True)
data2020.head()

/var/folders/qy/_42009_n085fc984bjdc5v580000gn/T/ipykernel_62273/1659616400.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2020.drop(["date", "대여년도"], axis = 1, inplace = True)

,자전거번호,대여일시,대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
15100727,SPB-19866,2020.5.1 0:01,1706,기업은행 앞,5,2020.5.1 0:03,1733,방학사거리 (봄마당 앞),12,1,330
15100728,SPB-07309,2020.5.1 0:00,585,성수2가1동 공영주차장 인근,4,2020.5.1 0:03,585,성수2가1동 공영주차장 인근,4,3,0
15100729,SPB-09425,2020.5.1 0:02,1155,기쁜우리복지관,10,2020.5.1 0:04,1155,기쁜우리복지관,10,2,0
15100730,SPB-13624,2020.5.1 0:01,2396,영동3교 북단(우성캐릭터 앞 보도),1,2020.5.1 0:04,2335,3호선 매봉역 3번출구앞,6,2,0
15100731,SPB-32740,2020.5.1 0:00,917,녹번역 4번출구,0,2020.5.1 0:05,958,신한은행 응암동 지점 앞,0,5,0

In [28]:
#data2020 파일로 저장
data2020.to_csv("대여이력 정보 2020.csv", encoding="utf-8-sig")

In [ ]:
da