In [1]:
import pandas as pd
import numpy as np

In [11]:
data = pd.read_csv("/Users/janghyun/Desktop/BDP/data/대여이력 정보/data/broken.csv")
data

            자전거번호              등록일시  고장구분
0       SPB-00108    2015.12.4 7:41    체인
1       SPB-00210   2015.12.7 12:23    체인
2       SPB-00035   2015.12.9 17:07   기타
3       SPB-01024  2015.12.13 21:02   기타
4       SPB-01015  2015.12.28 10:12   기타
...           ...               ...   ...
412792  SPB-56997   2022.6.29 21:18  타이어
412793  SPB-53871   2022.6.29 22:02    체인
412794  SPB-57521   2022.6.29 22:04    안장
412795  SPB-60598   2022.6.29 22:28   단말기
412796  SPB-38016   2022.6.29 22:51  타이어

[412797 rows x 3 columns]

In [12]:
#등록일시 type 변경
data["등록일시"]=pd.to_datetime(data['등록일시'].str.strip(), format="%Y-%m-%d %H:%M", errors='coerce')

data["Year"] = data["등록일시"].dt.year
data["Month"] = data["등록일시"].dt.month

In [13]:
data.drop("등록일시", axis=1, inplace=True)

In [14]:
data.columns = ["ID", "Type", "Year", "Month"]

In [10]:
year = data["Year"] == [2020, 2021, 2022]
data2020 = data[year]

ValueError: ('Lengths must match to compare', (412797,), (3,))

In [ ]:
if df["Fault"] == 1:
    df["Time"]

df.replace(24, 100)